/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    /* background-image: linear-gradient(rgba(174, 209, 133, 0.9), rgba(174, 209, 133, 0.02)), url('/2638301.jpg'); */
    background: url('./2638312op.jpg');
    /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('./2638309.jpg'); */
    background-size: cover;
    background-position: initial;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
    /* background:linear-gradient(rgba(351, 483, 527, 0.5), rgba(302, 377, 77, 0.4)),
    url(./2638305.jpg); */
}

.wrapper {
    width: 1250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    border-radius: 10px;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 680px;
}


.player-logo {
    text-align: center;
    padding: 20px;
}

.logo0,
.logo1 {
    width: 100px;
}

.player-details {
    display: flex;
    flex-direction: column;
}

.player-name {
    font-size: 25px;
    color: #fff;
}

#player-score-0,
#player-score-1 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 0;
}



.name0-wrapper {
    left: 50%;
    transform: translateX(-50%);

}

.name1-wrapper {
    right: 50%;
    transform: translateX(50%);


}

.name0-wrapper,
.name1-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 200px;
    background-color: #444;
    border-radius: 0 0 250px 250px;
}





/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 70px;
    font-weight: 100;
    color: #EB4D4D;
}

.active {
    background-color: #f7f7f7;
}

.active .player-name {
    font-weight: 300;
}

/* .active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
} */

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
    position: absolute;
    color: #777;
    padding: 16px 20px;
    width: 125px;
    background: #fff;
    border-radius: 5px;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    font-weight: 600;
}

button:hover i {
    margin-right: 20px;
}

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new {
    top: 45px;
}

.btn-roll {
    top: 403px;
}

.btn-hold {
    top: 467px;
}

.dice {
    position: absolute;
    transform: translateX(-50%);
    height: 120px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner {
    background-color: #f7f7f7;
}

.winner .player-name {
    font-weight: 600;
    color: #fff;
}

/* Override styles */

.active .name1-wrapper .player-name::after {
    content: "\2022";
    font-size: 35px;
    position: absolute;
    color: #fff;
    top: 45%;
    transform: translateY(-50%);
    right: -17%;
}

.player-name {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    color: #fff;
}

.logo0,
.logo1 {
    width: 98px;
    transition: transform .2s ease-in;
}

.player-logo {
    text-align: center;
    padding: 25px;
}

.btn-new {
    top: 92%;
    left: 10%;
}

.btn-roll {
    top: 75%;
}

.btn-hold {
    top: 82%;
}

.btn-instructions {
    top: 92%;
    left: 89.5%;
    z-index: 2;
}

.name0-wrapper {
    background: #F13D47;
}

.name1-wrapper {
    background: #96789A;
}

.player-score {
    color: #fff;
}

.player-0-panel,
.player-1-panel {
    position: relative;
    background: #EF686F;
}

button {
    color: #fff;
}

i {
    color: #fff;
}

.dice-0 {
    left: 42%;
    top: 40%;
}

.dice-1 {
    right: 32%;
    top: 40%;
}

.instruction {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.instruction-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in;
}